body{
    font-family: Arial;
    text-align: center;
}

input{
    padding:10px;
    margin:5px;
}

button{
    padding:10px;
    
}

table{
    margin:auto;
    margin-top:20px;
    border-collapse: collapse;
}

th,td{
    padding:10px;
}